<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">LOGING</h1>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="form-group">
            <label for="email">USERNAME</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="USERNAME" ngModel>
          </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg">LOGING</button>
        </form>
      </div>
    </div>
  </div>
</div>