<div class="container">
  <form [formGroup]="addressForm" (ngSubmit)="submitAddress()">
    <fieldset>
      <legend *ngIf="!edit">Add a new address</legend>
      <legend *ngIf="edit">Edit address</legend>
      <div class="form-group">
        <label for="userName">Address Identifier</label>
        <input type=text class="form-control" id="userName" formControlName="identifier" required>
      </div>
      <div class="form-group">
        <label for="addressOne">Address Line 1:</label>
        <input type="text" class="form-control" id="addressOne" formControlName="addressOne" required>
      </div>
      <div class="form-group">
        <label for="addressTwo">Address Line 2:</label>
        <input type="text" class="form-control" id="addressTwo" formControlName="addressTwo" required>
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" formControlName="city" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="number" class="form-control" id="phone" min="0" formControlName="phone" required>
      </div>
      <div class="form-group">
        <label for="zone">Zone:</label>
        <input type="text" class="form-control" id="zone" formControlName="zone" required>
      </div>
    </fieldset>
    <button class="btn btn-primary" type="submit" [disabled]="addressForm.invalid">Save</button>
    <button class="btn btn-primary" type="button" (click)="reset()">Cancel</button>
  </form>
</div>