<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid d-block mx-auto px-0" src="{{product.imageURL}}" width="450">
      </div>
      <div class="col-md-6">
        <h1 class="text-secondary">Mens Sports Military Watches</h1>
        <p class="lead">Category: {{product.Category}}</p>
        <p class="lead text-danger">Price: {{product.Price}}</p>
        <ul class="">
          <li>Description: {{product.Description}}</li>
          <li>Multifunction dial: Chronograph Functions with Minute and Second Timer.</li>
          <li>Quartz Movement With Analog Display</li>
          <li>Brand Material: Quality stainless steel band.</li>
        </ul>
        <ul class="">
          <li>Water resistant to 99 feet (30M): in general, withstands splashes or brief immersion in water, but not suitable for swimming or bathing.</li>
          <li>Customer Service: Refund for any reason within 30 days. Have anu questions can contact us any time.</li>
        </ul>
        <a href="#" class="btn btn-outline-primary w-50 text-primary">AGREGAR A CARRO</a>
      </div>
    </div>
  </div>
</div>